@import url('https://fonts.googleapis.com/css?family=Ranga');
@import url('https://fonts.googleapis.com/css?family=Teko');
html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.c1{
	width: 100%;
	height: 100%;
	margin: auto;
	background: url(file:///C:/Users/VIHANG/Desktop/Web%20Portfolio/Images/amazing-glossy-3d-cubes-and-globe-wallpaper.jpg) no-repeat 50% 50%;
	top: 0;
	display: table;
	background-size: cover;
}
.c1 .in1{
	display: table-cell;
	vertical-align: middle;
	width: 100;
	max-width: none;
}
.content{
	max-width: 500px;
	margin: auto;
	text-align: center;
}
.content h1{
	font-family: 'Ranga', sans-serif;
	color: #f9f3f4;
	font-size: 500%;
	text-shadow: 0 0 500px red;
}
.content .btn{
	border-radius: 90px;
	color: #f9f3f4;
	text-decoration: none;
	font-family: 'Teko', sans-serif;
	border: 3px solid;
	padding: 7px 13px;
	font-weight: bold;
}
h1:hover{
	text-shadow: 0px 0px 200px #2196f3;
}
.btn{
	
	font-size: 50px;
	text-shadow: 0 0 500px red;
}
.btn:hover{
	text-shadow: 0px 0px 200px #2196f3;
}